<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2 text-center>All Posts</h2>

  <ion-grid>
    <ion-row>
      <ion-col col-8>
        <ion-item>
          <ion-label>Filter by user</ion-label>
          <ion-select [(ngModel)]="filterUser">
            <ion-option *ngFor="let user of users" value="{{ user.id }}">{{ user.name }}</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col col-4>
        <button ion-button outline small (click)="filterByUser()">Filter</button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card *ngFor="let post of posts">
    <ion-card-content>
      <ion-card-title>
        {{ post.title }}
      </ion-card-title>
      <br />
      <p float-left>
        By: <b>{{ post.user.name }}</b>
      </p>
      <p float-right>
        <button ion-button outline small (click)="detail($event, post)">
          View more
        </button>
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
