<ion-header>
  <ion-navbar>
    <ion-title>Post</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <h2>{{ postData.title }}</h2>
  <p>{{ postData.body }}</p>
  <p>By: <b>{{ postData.user.name }}</b></p>
  <p>
    <button ion-button outline small (click)="edit($event, postData.id)">Edit</button>
  </p>
  <br/>
  <div class="comments">
    <h3>Comments</h3>
    <ion-list>
      <ion-item *ngFor="let comment of comments">
        <h2>{{ comment.name }}</h2>
        <h3>{{ comment.email }}</h3>
        <p>{{ comment.body }}</p>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
