<ion-header>
  <ion-navbar>
    <ion-title *ngIf="!isUpdate">Add Post</ion-title>
    <ion-title *ngIf="isUpdate">Edit Post</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <h2 *ngIf="!isUpdate">Add Post</h2>
  <h2 *ngIf="isUpdate">Edit Post</h2>
  <form (ngSubmit)="savePost()">
    <ion-item *ngIf="!isUpdate">
      <ion-label>Select User</ion-label>
      <ion-select [(ngModel)]="post.userId" name="userId">
        <ion-option *ngFor="let user of users" value="{{ user.id }}">{{ user.name }}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Title</ion-label>
      <ion-input type="text" [(ngModel)]="post.title" name="title"></ion-input>
    </ion-item>
    <ion-item>
      <textarea #body id="body" rows="1" maxLength="500" (keyup)="resize()" [(ngModel)]="post.body" name="body" placeholder="Body"></textarea>
    </ion-item>

    <br/><br/>
    <div class="btn-container" text-center>
      <button ion-button type="submit" outline>
        <span *ngIf="isUpdate">Update Post</span>
        <span *ngIf="!isUpdate">Add Post</span>
      </button>
      <button color="danger" ion-button type="button" outline *ngIf="isUpdate" (click)="delete()">
        Delete Post
      </button>
    </div>
  </form>
</ion-content>
